<h1>New Micropost</h1>

<div class="row">
	<div>
		<%= form_for(@micropost) do |f| %>
			<%= f.label :content %>
			<%= f.text_field :content, class: 'form-control' %>

			<%= f.collection_select :user_id, User.all, :id, :name  %>
			<%= f.submit "Create Micropost", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<%= link_to 'Back', microposts_path %>
